@page
@model MemberCoupon.Pages.Members.DetailsModel

@{
    ViewData["Title"] = "紀錄";
}

<h1>紀錄</h1>

<div>
    <h4>會員</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.SecureKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.SecureKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.ActiveUntil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.ActiveUntil)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Member?.Id">Edit</a> |
    <a asp-page="./Index">返回列表</a>
</div>
