@page
@model MemberCoupon.Pages.Coupons.DeleteModel

@{
    ViewData["Title"] = "刪除";
}

<h1>刪除</h1>

<h3>你是否確認要刪除紀錄？刪除紀錄將無法復原。</h3>
<div>
    <h4>換領券</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coupon.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coupon.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coupon.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coupon.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coupon.ExclusiveMemberGroupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coupon.ExclusiveMemberGroup.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coupon.ShowStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coupon.ShowStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coupon.ShowEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coupon.ShowEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coupon.Cancelled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coupon.Cancelled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coupon.CancelReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coupon.CancelReason)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Coupon.Id" />
        <input type="submit" value="刪除" class="btn btn-danger" /> |
        <a asp-page="./Index">返回列表</a>
    </form>
</div>
