@page
@model MemberCoupon.Pages.MemberGroups.DetailsModel
@{
    ViewData["Title"] = "紀錄";
}

<h1>紀錄</h1>
<div>
<h4>會員組別</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MemberGroup.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MemberGroup.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MemberGroup.IsDisabled)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MemberGroup.IsDisabled)
    </dd>
</dl>
</div>
<div class="mt-2">
    <a asp-page="./Edit" asp-route-id="@Model.MemberGroup?.Id">紀錄</a> |
    <a asp-page="./Index">返回列表</a>
</div>