@page
@model MemberCoupon.Pages.Organizations.DetailsModel

<div>
    <h4>設定</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.PageHeader)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Markdig.Markdown.ToHtml(Model.Organization.PageHeader))
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Organization?.Id">編輯</a>
</div>